.hero-section {
	@include max-mq($max-mobile) {
		background-color: $secondary-color-3;
		padding: 20px 0;
	}
}

.hero-section-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hero-section-left {
	background-color: rgba($white, 0.9);
	width: 44.7%;
    padding: 43px 12px 0 20px;
    z-index: 1;

    @include max-mq($max-tablet) {
		width: 100%;
		order: 2;
		max-width: 470px;
    	margin: 0 auto;
    	padding: 35px 41px 25px 40px;
    	background-color: $white;
	}

	@include max-mq($max-mobile) {
    	background-color: $secondary-color-4;
    	padding: 12px 22px 20px 20px;
	}

	p {
	    font-size: 16px;
	    padding: 14px 0 11px;
	    line-height: 24px;

	    @include max-mq($max-tablet) {
	    	padding: 23px 0 2px;
		}

		@include max-mq($max-mobile) {
	    	font-size: 14px;
	    	padding: 10px 0;
	    	line-height: 20px;
		}
    }
}

.hero-section-right {
	width: 50%;
	position: relative;
	display: flex;
	justify-content: center;

	@include max-mq($max-tablet) {
		width: 100%;
		padding: 78px 0;
	}

	@include max-mq($max-mobile) {
		display: none;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: calc(-50vw);
		width: 100vw;
		bottom: 0;
		background-image: repeating-linear-gradient(180deg, $secondary-color-2 0, $secondary-color-2 105px, $secondary-color-3 105px, $secondary-color-3 210px);
		
		@include max-mq ($max-tablet) {
			left: -30px;
		}
	}
}

.iframe-wrapper {
	width: 470px;
	height: 263px;
	background-color: silver;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	@include max-mq($max-tablet) {
		position: relative;
	}
}

.iframe-video {
	width: 100%;
	height: 100%;
}

.content-link {
	text-decoration: underline;
	color: $primary-color;

	&:hover {
		color: $primary-color-hover;
	}
}