@font-face {
	font-family: "Icons";
	src: url('../../assets/fonts/icons/Icons.eot');
	src: url('../../assets/fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../../assets/fonts/icons/Icons.woff2') format('woff2'),
		url('../../assets/fonts/icons/Icons.woff') format('woff'),
		url('../../assets/fonts/icons/Icons.ttf') format('truetype'),
		url('../../assets/fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == copyright {
		$char: "\E001";
	}
	@if $filename == double-arrow-right {
		$char: "\E002";
	}
	@if $filename == icon-facebook {
		$char: "\E003";
	}
	@if $filename == icon-twitter {
		$char: "\E004";
	}
	@if $filename == icon-wifi {
		$char: "\E005";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-copyright {
	@include icon(copyright);
}
.icon-double-arrow-right {
	@include icon(double-arrow-right);
}
.icon-icon-facebook {
	@include icon(icon-facebook);
}
.icon-icon-twitter {
	@include icon(icon-twitter);
}
.icon-icon-wifi {
	@include icon(icon-wifi);
}