@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/BreeSerif-Regular.woff2') format('woff2'),
        url('../fonts/BreeSerif-Regular.woff') format('woff'),
        url('../fonts/BreeSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}